/* The side navigation menu */
.sidebar {
  /*margin: 0;
  padding: 0;*/
  width: 175px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: 'Dela Gothic One', cursive;
  top: 58.8px;
}

  /* Sidebar links */
  .sidebar a {
    display: block;
    color: #607B7D;
    padding: 30px 16px;
    text-decoration: none;
  }

  .sidebar i {
    color: black;
    padding-right: 10px;
  }

  /* Active/current link */
  .sidebar a.active {
    background-color: #607B7D;
    color: white;
  }

  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
